:root{
    /* #region colors */
    --white: #ffffff;
    --grey: #4e5258;
    --lightgreen: #adff2f;
    --lightgrey: #808080;
    --bkg-siderbar: #000000;
    --bkg-footer: #282828;
    /* #endregion colors */
}
/* #region debug */
.debug [class^= col_]{
    background-color: aqua;
}





/* #endregion debug */
/* #region Utilitys */
ul{
    list-style-type: none;
}
.greenbar{
    background-color: var(--lightgreen);
}




/* #endregion Utilitys */
nav a{
    color: var(--grey);
}
nav li:hover{
    color: var(--white);
}
nav ul:first-child
/* #region main */
/* #region siderbar*/

/* #endregion siderbar*/
/* #region nav*/

/* #endregion nav*/


/* #endregion main */
